{% extends "base.html" %}
{% block content %}
    <div class="input-form">
        <form action="/login" method="POST">
            <h3 class="center cap">Login</h3><br>
            <table class="center">
                <tr>
                    <td><label>Email ID: </label></td>
                    <td><input type="email" name="emailid"></td>
                </tr>
                <tr>
                    <td><label>Password: </label></td>
                    <td><input type="password" name="pwd"></td>
                </tr>
                <tr>
                    <td><a href="/register" class="btn-link">New User?</a><td>
                    <td><input type="submit" value="Login" class="btn-link"></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}